page-login {
    .content-ios {
        background: color($colors, fondo);
    }
    .content-md {
        background: color($colors, fondo);
    }
    .logo {
        width: 85vw;
        display: block;
        margin: auto;
        margin-top: 5vh;
    }
    .notCount {
        color: white;
        font-size: 16px;
        font-weight: bold;
        margin: 3vh 0;
        display: block;
    }
    .content-ios {
        color: white;
    }
    .content-md {
        color: white;
    }
    .text-input-ios {
        text-align: center;
    }
    .text-input-md {
        text-align: center;
    }
    .titl {
        display: block;
        font-size: 20px;
        font-weight: 100;
        margin-top: 6vh;
        text-align: center;
        color: white;
        font-weight: 300;
    }
     ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: white !important;
    }
     ::-moz-placeholder {
        /* Firefox 19+ */
        color: white !important;
    }
     :-ms-input-placeholder {
        /* IE 10+ */
        color: white !important;
    }
     :-moz-placeholder {
        /* Firefox 18- */
        color: white !important;
    }
    .datos {
        width: 100%;
        ion-input {
            border-bottom: 1px solid;
        }
    }
    .sub {
        font-size: 0.8em;
        font-weight: bold;
        font-style: italic;
        margin-top: 3vh;
        display: block;
    }
    .scroll-content {
        display: flex;
        align-items: center;
    }
    .miinput {
        width: 100%;
        border: none;
        background: transparent;
        text-align: center;
        border-bottom: 1px solid;
        padding: 10px 8px;
    }
}
