<!--
  Generated template for the Codigo component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<ion-header>
    <ion-toolbar color="redime_blu">
        <ion-title>
            Mi código
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>

    <qrcode [qrdata]="codigo" [size]="100" [level]="'M'" usesvg=true></qrcode>
    <div style="text-align: center;font-size: 3em;position: absolute;width: 100%;bottom: 2vh;">
        <span>{{codigo}}</span>
    </div>
</ion-content>
