page-principal {
    .fondolinea {
        width: 100%;
        background: white;
        border-radius: 50%;
        border: 2px solid color($colors, redime_gre);
        margin: auto;
        padding: 3px;
    }
    .foto {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: color($colors, redime_gre);
        overflow: hidden;
    }
    .textcont {
        color: #004160;
    }
    .contro {
        position: absolute;
        bottom: 4px;
        right: 0;
        ion-icon {
            font-size: 1.6em;
            margin: 0 10px;
        }
    }
    .info {
        height: 40%;
        display: flex;
        align-items: center;
        padding: 0 10px;
    }
    .puntos {
        background: color($colors, redime_gre);
        width: 100%;
        padding: 16px 16px;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 3vh;
    }
    .pts {
        color: #004160;
        font-size: 1.2em;
    }
    .content-ios {
        background: color($colors, fondo2);
    }
    .content-md {
        background: color($colors, fondo2);
    }
    .cod {
        height: 18vh;
        margin: auto;
        text-align: center;
    }
    .cont2 {
        height: 60%;
        position: relative;
        display: flex;
        align-items: center;
    }
    .finaltex {
        font-size: 1.5em;
        font-weight: 400;
        display: block;
        margin-bottom: 7px;
    }
}
