<!--
  Generated template for the Restaurantes page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border text-center padding style="background: #fdfdfd;border-bottom: 2px solid #00e4a6;">

  <ion-navbar text-center color="fondo2">
    <ion-title><img src="assets/img/logo_verde.svg" alt=""  style="height: 40px;"></ion-title>
  </ion-navbar>

  <span class="marco">RESTAURANTES</span>
</ion-header>



<ion-content>
  <div padding style="border-bottom: 2px solid #00e4a6;" *ngFor="let item of listaRestaurantes">
    <ion-grid style="position: relative">
      <ion-row style="position: relative">
        <ion-col col-3>
          <avatar [opciones]="opt" [srcImage]='item.datos.img'></avatar>
        </ion-col>
        <ion-col col-9>
          <div class="texto">
            <span class="title" >{{item.datos.nombre}}</span>
            <span>{{item.datos.direccion}}</span>
            <span>{{item.datos.ciudad}}</span>
          </div>
        </ion-col>
        
          <ion-icon *ngIf="idr != item.datos.key" name="ios-add-circle-outline" class="add" (click)="idr = item.datos.key"></ion-icon>
       
      </ion-row>
      <ion-row *ngIf="idr == item.datos.key" (click)="navegar(item.datos.latitud,item.datos.longitud)">
        <img src="https://maps.googleapis.com/maps/api/staticmap?center={{item.datos.latitud}},{{item.datos.longitud}}&zoom=18&size={{wMap}}x{{hMap}}&key=AIzaSyAhhNItqVTE1JxpN4_Yvhm47ehmoHgFQmk&markers={{item.datos.latitud}},{{item.datos.longitud}}" alt="">
      </ion-row>
      <ion-row *ngIf="idr == item.datos.key" style="color: #2a607a;align-items: center;">
        <ion-col col-2>
          <ion-icon name="ios-time-outline" style="font-size: 1.8em"></ion-icon>          
        </ion-col>
        <ion-col col-10>
          <span >{{item.datos.horario}}</span>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="idr == item.datos.key" style="color: #2a607a;align-items: center;">
        <ion-col col-2>
          <ion-icon name="md-card" style="font-size: 1.8em"></ion-icon>          
        </ion-col>
        <ion-col col-10>
          <span >{{item.datos.presupuesto}}</span>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="idr == item.datos.key" style="color: #2a607a;align-items: center;">
        <ion-col col-2>
          <ion-icon name="ios-restaurant-outline" style="font-size: 1.8em"></ion-icon>          
        </ion-col>
        <ion-col col-10>
          <span >{{item.datos.plato}}</span>
        </ion-col>
      </ion-row>
      <ion-icon *ngIf="idr == item.datos.key" name="ios-remove-circle-outline" class="delet" (click)="idr = null"></ion-icon>  
    </ion-grid>
  </div>

</ion-content>
